div.registration-container {
  position: relative;
  height: 80vh;
  padding: 5px;
  margin: 50px auto 5px;
  text-align: center;
}


div.registration-content {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(185, 182, 182, 0.9);
  border: #FFFAF6 5px solid;
  border-radius: 10px;
}


.signup-form {
  padding: 5px;
  margin: 5px;
}

.inputs {
  padding: 5px;
}

button {
  border: FFFAF6 1px solid;
  border-radius: 10px;
  background: none;
  box-shadow: none;
  border-radius: 0px;
}

button:hover {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {

  div.registration-content {
    width: 50%;
  }
}