description {
  background: rgba(255, 255, 255, 0.7);
}

div.description-container {
  position: relative;
  height: 80vh;
  padding: 5px;
  margin: 50px auto 5px;
  text-align: center;
}

div.description-content {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(185, 182, 182, 0.8);
}

header {
  padding: 15px ;
}

.description {
  min-height: 200px;
  padding: 30px 15px 0;
}


.why {
  margin: 25px 5px;
}

.why > h3 {
  padding: 0;
}

p {
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-width: 650px;
}

.future-features {
  margin: 25px 5px;
}

.future-features > h3 {
  padding: 10px;
}

.registration {
  min-height: 200px;
  margin: 20px 5px;
}

.registration > h2 {
  padding: 5px;
}

@media only screen and (min-width: 768px) {

  div.description-content {
    width: 50%;
  }
}