* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif;
  font-size: 14px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

header {
  padding: 15px ;
}

.description, .registration {
  min-height: 200px;
  padding: 30px 15px;
  background-color: #ccc;
}

.explore {
  min-height: 200px;
  background-color: #ddd;
}

p {
  font-size: 14px;
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}
