div.addRecipe-container {
  position: relative;
  height: 80vh;
  padding: 5px;
  margin: 60px auto 5px;
  text-align: center;
}

div.addRecipe-content {
  margin-top: 50px;
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(185, 182, 182, 0.9);
  border: #FFFAF6 5px solid;
  border-radius: 10px;
}

.addRecipe-content h2 {
  margin: 0;
}

label {
  padding: 2px;
  margin: 10px;
  font-weight: bold;
}

input {
  border: thin solid black;
  width: 80%;
  max-width: 500px;
  padding: 5px;
  margin: 5px;
}

label {
  display: block;
} 

textarea#note {
  border: thin solid black;
  padding: 5px;
  margin: 5px;
  width: 80%;
  max-width: 500px;
  height: 100px;
}

h2 {
  margin-top: 0;
}
