div.favoriteItem {
 flex: 1 0 30%;
 margin: 15px auto;
 }

li {
  padding: 15px;
  margin: 15px auto;
  border: black 2px solid;
  border-radius: 50%;
  transition-property: border-radius;
  transition-duration: .2s, .5s;
  transition-timing-function: linear;
  height: 250px;
  width: 250px;
  position: relative;
}

li:hover {
  border-radius: 20%;
}


.list-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.item-names {
  padding: 5px;
  margin: 0;
}

.btn {
  margin: 15px;
}
