div.favoriteItem {
  flex: 1 0 30%;
  margin: 15px auto;
}

li {
  padding: 15px;
  margin: 15px auto;
  border: #FFFAF6 2px solid;
  border-radius: 10%;
  transition-property: border-radius;
  transition-duration: .2s, .5s;
  transition-timing-function: linear;
  height: 250px;
  width: 250px;
  position: relative;
  background: rgba(185, 182, 182, 0.9);
}

li:hover {
  border-radius: 50%;
}


.list-content {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

i.fas.fa-chevron-right {
  position: absolute;
  top: 45%;
  right: -5%;
}

.item-names {
  padding: 5px;
  margin: 0;
}

button.deleteRecipe.btn {
  display: block;
  height: 45px;
  width: 70px;
  font-size: 16px;
  margin: auto;
}

h3.item-names {
  color: black;
}

a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: black;
  text-decoration-color: black;
  color: black;
}