div.favoritesList {
  margin-bottom: 20px;
}

ul.favorites_list {
  margin: 50px auto 20px;
  padding: 0;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

ul, ol {
  list-style: none;
}

button.add.btn {
  width: 130px;
  height: 60px;
  font-size: 18px;  
}
