.home-page {
  height: 100vh;
  margin-top: 50px;
  position: relative;
}

.titles {
  position: absolute;
  width: 80%;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  border: #FFFAF6 5px solid;
  border-radius: 10px;
  background: rgba(185, 182, 182, 0.8);
  margin-top: 25px;
  max-height: 300px;
}

.titles h1, .titles h2 {
  color: #FFFAF6;
  margin: 10px;
}

.titles h1 {
  font-family: 'Cabin';
  font-size: 40px;
}

div.description-content {
  position: absolute;
  width: 80%;
  top: 300px;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  background: rgba(185, 182, 182, 0.9);
  border: #FFFAF6 5px solid;
  border-radius: 10px;
  margin-bottom: 20px;
}

div.why p {
  text-align: left;
}

h3 {
  margin: 20px 10px;
}

@media only screen and (min-width: 420px){
  .titles{
    max-height: 400px;
  }
}

@media only screen and (min-width: 590px){
  div.description-content {
    top: 200px;
  }
}


@media only screen and (min-width: 768px) {
  .titles, div.description-content {
    width: 60%;
  }
}
